@media only screen and (max-width: 1440px) {
    
}
@media only screen and (max-width: 1199px) {
    
}
@media only screen and (max-width: 991px) {
    #grid-container{
        width: 100%;
        padding: 10px;
    }
    
}
@media only screen and (max-width: 768px) {
    
    #grid-container{
        width: 100%;
    }
    #grid{
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }  
}

@media only screen and (max-width: 575px) {
    
}