section{
    /* min-height: 100vh; */
    padding: 5% 10%;
    z-index: 2;
    position: relative;
}
.body-content{
    position: relative;
    height: auto;
    /* transition: all 0.1s ease-in-out; */
}
#bg-grid{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    /* z-index: 1; */
}
#grid-h-wrap{
    flex-direction: column;
}
#grid-v-wrap{
    flex-direction: row;
}
.grid-wrap{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
.grid-v{
    border-left: 1px solid #ddd;
}
.grid-h{
    border-top: 1px solid #ddd;
}

.julm-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.julm-container .sec-content{
    width: 60%;
    padding: 0 30px;
}

p{
    font-size: 1.2em;
    margin-bottom: 1em;
    font-weight: 300;
}

.julm-container h2{
    font-style: italic;
    font-weight: 200;
    font-size: 50px;
    border-top: 1px solid #222;
    flex-grow: 1 ;
    margin-left: 30px;
}
#site-title{
    margin-bottom: 10%;
    width: fit-content;
    width: -moz-fit-content;
}

#site-title h1{
    font-weight: 700;
    font-size: 140px;
    letter-spacing: -8px;
    line-height: 1em;
    margin-bottom: -0.15em;
    width: fit-content;
    width: -moz-fit-content;
    user-select: none;
    transition: all 0.1s ease-in-out;
}
#site-title:hover h1{
    background: linear-gradient(90deg, rgba(255,0,194,1) 10%, rgba(255,0,29,1) 20%, rgba(254,0,255,1) 30%, rgba(255,0,158,1) 40%, rgba(255,54,94,1) 50%, rgba(255,113,23,1) 60%, rgba(255,74,0,1) 70%, rgba(255,59,87,1) 80%, rgba(255,0,194,1) 90%);
    /* background: url("object-11.png"); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#site-title h1:nth-child(2){
    text-align: right;
}

.sec1-container{
    flex-direction: column;
    justify-content: space-between;
}

#quote{
    width: 60%;
    align-self: flex-end;
}
#quote p{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    text-align: right;
}
#section3 .title{
    display: flex;
}
#section3 .sec-content{
    width:100%;
    display: flex;
    padding: 0;
    margin-top: -1px;
}
#objectives{
    width: 60%;
}
#objectives-icons{
    width: 40%;
    align-self: center;
}
.obj-icon{
    display: none;
}
.obj-line{
    fill:none;
    stroke:#222;
    stroke-width:0.75;
    stroke-miterlimit:10;
}
body.dark .obj-line{
    stroke:#fff;
}


#section3  .title h2{
    font-style: italic;
    font-weight: 200;
    font-size: 50px;
    border-bottom: 1px solid #222;
    width: 40%;
    align-self: flex-end;
    margin-bottom: 0;
    padding-bottom: 10px;
}
#section3 .title .spacer{
    width:60%;
}
.obj-wrap{
    margin-right: 30px;
    display: flex;
    border-top: 1px solid #222;
}
.obj-wrap:last-child{
    border-bottom: 1px solid #222;
}
.obj-wrap .no{
    font-size: 72px;
    padding: 10px;
    font-weight: 100;
    width: 150px;
    text-align: center;
    align-self: center;
}
.obj-wrap .obj{
    align-self: center;
    text-transform: uppercase;
    width: calc(100% - 150px);
    padding: 20px 10px;

}
.obj-wrap .obj p{
    margin-bottom: 0;
    font-size: 24px;
}

#section4{
    position: relative;
    width:100%;
    padding-bottom: 100vh;
    overflow: hidden;
}
#sec4-bg, #sec4-fg{
    position: absolute;
    /* padding:5%; */
    width: 100%;
    height: 100%;
    /* padding-bottom: 40%; */
    overflow: hidden;
    top:0;
    left:0;
}

#sec4-fg .sec4-container{
    padding: 20px 10%;
    display: block;
    position: relative;
}

.sec4-container h2{
    flex-grow: unset;
    margin-top: 2%;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px;
    width: 40%;
    /* border-top: none; */
    /* border-bottom: 1px solid #fff; */
    color: #fff;
    border-color: #fff;
}
#sec4-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sec4-fg .lecture-wrap{
    position: absolute; 
}
#lectures{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
#lecture1{
    bottom: 15%;
    left: 10%;
    width: 40%;
}
#lecture2{
    top: 10%;
    right: 20%;
    width: 30%;
}


footer{
    border-top: 1px solid #ddd;
    position: relative;
    color: #222;
    padding: 3% 20% 5% ;
    z-index: 3;
    background: #ffffffd2;
}
body.dark footer{
    background: #222222d2;
}
.footer-wrap p{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

a:hover{
    opacity: 80%;
}

.dark{
    color: #fff;
}
body.dark{
    background-color: #222;
    color: #fff;
}
body.dark *{
    border-color: #fff !important;
}
body.dark .grid-wrap div{
    border-color: #444 !important;
}


.ui-resizable-e{
    width: 10px;
    height: 10px;
    background-color: aqua;
}