*{
    box-sizing: border-box;
    font-family: halyard-micro, sans-serif;
    cursor: url('../img/cursor-b.png'), auto !important;	
}
body.dark *{
    cursor: url('../img/cursor-w.png'), auto !important;
}
img {  
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
p{
    font-size: 12px;
    margin-bottom: 5px;
}
a, a:hover{
    color: unset;
}

header{
    position: fixed;
    top:0;
    right:0;
    z-index: 5;
    display: flex;
    padding-right: 10%;
    padding-top:40px;
}
header.dark i{
    color:#fff
}
#nav-btn{
    opacity: 1;
    display: inline-block;
    /* position: fixed;
    top:40px;
    right:215px;
    cursor: pointer; */
}
#dark-switch, #nav-btn{
    padding: 5px;
    cursor: pointer;
    opacity: 1;
    display: inline-block;
}

#dark-switch i{
    transform: rotate(45deg)
}
#side-nav{
    text-align: right;
    position: relative;
    padding:10px ;
    padding-left: 50px;
    /* background: linear-gradient(90deg, #ffffff05 0%, #ffffffbb 100%); */
}
.dark #side-nav{
    /* background: linear-gradient(90deg, #22222205 0%, #222222bb 100%); */
}
.collapsed #side-nav{
    background: transparent;
}
#nav-menu{
    /* position: fixed;
    top:0;
    right: 0; */
    display: block;
    /* max-width: 300px; */
    /* min-width: 200px; */
    padding: 10px 0 0 30px;
}
#nav-menu a{
    text-decoration: none;
}
#nav-menu .nav-item{
    /* color: #222; */
    font-size: 16px;
    font-weight: 200;
    /* text-transform: uppercase; */
    text-align: right;
}
.current-nav{
    opacity: 0.65;
}
#nav-menu .drop-item{
    font-weight: 200;
    text-decoration: none;
    /* color: #222; */
    margin-bottom: 5px;
    text-transform: none;
}
header.dark #nav-menu{
    color: #fff;
}
.dropdown-head{
    /* color: #222; */
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
#nav-menu li{
    margin-bottom: 10px;
}
.collapsed #nav-menu{
    display: none;
}
.drop-items-menu{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}


.julm-btn, .btn-check{
    font-size: 12px;
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid #222;
    cursor: pointer;
    margin-left: -1px;
}
.btn-group label{
    flex-grow: 1;
}
.julm-btn{
    color: #222;
    border-color: #222;
    border-radius: 0;
    
}
.julm-btn:hover, .julm-btn:checked{
    background-color: #222;
    border-color: #222;
    color: #fff;
}
.btn-check:checked+.julm-btn{
    background-color: #222; 
    border-color: #222;
    color:#fff;
}
.julm-btn:focus, .btn-check:focus+.julm-btn{
    box-shadow: none
}
/* .julm-btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(200 200 200 / 50%);
} */
.julm-btn:active{
    background-color: #222;
    border-color: #222;
}

img{
    width: 100%;
    height: 100%;
}
.body-content{
    position: relative;
    /* top:0;
    left:0; */
    height: 100vh;
    width: 100%;
}
.main-view{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar{
    position: absolute;
    height: 100%;
    width: 250px;
    left:0;
    top:0;
    /* background-color: #ffffff33; */
    z-index: 6;
    display: flex;
}
#toolbar.closed, #tools-handle{
    width: 50px;
}
#tools{
    height: 100%;
    /* width: 80%; */
    /* background-color: #fff; */
    padding: 10px;
    opacity: 1;
    width: 100%;
    transition: all 0.2s ease-in-out;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}
p.control-title{
    text-transform: uppercase;
}
#toolbar.closed #tools{
    width: 0;
    display: none;
}
#arrow{
    margin-left: 5px;
    transition: all 0.5s ease-in-out;
}
#toolbar.closed #arrow{
    transform: rotate(180deg);
}

#tools-handle{
    transition: all 0.2s ease-in-out;
    /* background-color: #eee; */
    /* border-right: 1px solid #222; */
    /* border-left: 1px solid #eee; */
    cursor: pointer;
    padding-top: 40px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#tools-handle:hover{
    /* background: linear-gradient(90deg, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.2) 100%); */
}


#toolbar.dark #tools-handle{
    border-color: #fff;
    color: #fff;
}
#toolbar.dark p.control-title{
    color:#fff;
}

.slider{
    background-color: transparent;
    width: 100%;
}
input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #222;
    height: 2px;
}
   
input[type="range"]::-moz-range-track {
    background: #222;
    height: 2px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #222;
    margin-top: -6px;
    border-radius: 50%;
}
   
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: #222;
    margin-top: -6px;
    border-radius: 50%;
}


.dark input[type="range"]::-webkit-slider-runnable-track {
    background: #fff;
    height: 2px;
}
   
.dark input[type="range"]::-moz-range-track {
    background: #fff;
}
.dark input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
}
   
.dark input[type="range"]::-moz-range-thumb {
    background: #fff;

}


#obj-icons{
    display: inline-block;
}
#obj-icons svg{
    width: 25px;
    padding-bottom: 5px;
}
.obj-line{
    fill:none;
    stroke:#222;
    stroke-width:2;
    stroke-miterlimit:10;
}
.dark .obj-line{
    stroke: #fff;
}
.prompt-footer{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 10px 5%;
}
#poem{
    text-align: center;
    font-weight: 200;
    font-style: italic;
}
.dark #poem{
    color: #fff;
}