
#full-screen-img{
    /* background-color: #00000011; */
    position: relative;
    /* margin:auto */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}


#spinner{
    animation-name: spin;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
#spinner:hover{
    animation-name: none;

}


  
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
