
#full-screen-img{
    /* background-color: #00000011; */
    position: relative;
    /* margin:auto */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 75%;
}

.main-view{
    background-color: #222;
}

#spinner{
    cursor: pointer;
    animation-name: spin;
    animation-duration: 41ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}


#timeControl{
    margin-bottom: 20px;
}
  
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


#spinner-nav{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.controls{
    margin-bottom: 20px;
    height: 200px;
    /* height: 120px; */
}

.spinner-nav-item{
    width:calc(50% - 3px);
    padding: 10px;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #eeeeee55;
    border-bottom: 4px solid #ffffff00;
}
.spinner-nav-item:nth-child(even){
    background-color: #eeeeee55;
}
.spinner-nav-item:hover{
    background-color: #eee;
}
.spinner-nav-item.display{
    background-color: #eee;
    border-color: #222;
}