body{
}
img{
    width: 100%;
    height: 100%;
}
.body-content{
    position: relative;
    /* top:0;
    left:0; */
    height: 100vh;
    width: 100%;
}
.main-view{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background: rgb(200, 86, 116);
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar{
    position: absolute;
    height: 100%;
    width: 300px;
    left:0;
    top:0;
    /* background-color: #ffffff33; */
    z-index: 2;
    display: flex;
}

#tools{
    height: 100%;
    width: 80%;
    background-color: #fff;
    padding: 10px;
    display: block;
}
#toolbar.closed #tools{
    width: 0;
    display: none;
}
#tools-handle{
    width: 20%;
    background-color: #ffffff33;
    padding: 10px;
    cursor: pointer;
}
#full-screen-img{
    /* background-color: #00000011; */
    position: relative;
    /* margin:auto */
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle{
    position: absolute;
    width: 18%;
    height: 18%;
    border-radius: 50%;
    background: rgb(120, 46, 76);
}

#rock-nav{
    height: calc(100% - 120px);
    overflow: scroll;
}
.controls{
    height: 120px;
}